################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/17B/.vs/17B/v14/.suo
/17B/17B.VC.VC.opendb
/17B/17B.VC.db
